cmd/setrandom/setrandom
cmd/setwallpaper/setwallpaper
cmd/lsmon/lsmon
cmd/wayinfo/wayinfo
cmd/xinfo/xinfo
cmd/getdpi/getdpi
cmd/lscollection/lscollection
cmd/timedinfo/timedinfo
cmd/lswallpaper/lswallpaper
cmd/setcollection/setcollection
cmd/settimed/settimed
cmd/lstimed/lstimed
cmd/xml2stw/xml2stw
